<nav
  class="navbar navbar-expand-lg fixed-top"
  style="background-color: #e3f2fd"
>
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="accountService.currentUser$ |async">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Messages</a>
      </li>

    </ul>

    <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-dark text-decoration-none" dropdownToggle>Welcome User</a>
      <div class="dropdown-menu mt-2" *bsDropdownMenu>
        <a  class="dropdown-item">Edit Profile</a>
        <a  class="dropdown-item" (click)="logout()"> Logout</a>
      </div>
    </div>

    <form
      #loginForm="ngForm"
      *ngIf="!(accountService.currentUser$ | async)"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        aria-label="Usernaem"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        aria-label="Password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
